body {
    background-color: lightblue;
}

h3 {
    margin-left: 450px;
}

table, th, td {
   border-collapse: collapse;
   padding: 5px;
   text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.good {
    color: green;
    font-weight: bold;
}

.bad {
    color: red;
    font-weight: bold;
}

.big_diff {
    color: blue;
    font-weight: bold;
}

tr:nth-child(even) {background-color: #f2fffc}
tr:nth-child(odd) {background-color: #f2f2f2}

td:nth-child(2) {
    width: 250px;
    text-align: left;
}

td:nth-child(n+3) {width: 100px}