body {
    background-color: lightblue;
}

h3 {
    text-align: center;
    background-color: #ffc080;
    width: 1101px;
    margin: auto;
}

table, th, td {
   border-collapse: collapse;
   padding: 4px;
   text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.good, .bad, .big_diff{
    font-weight: bold;
    display: inline;
}

.good {color: green}
.bad {color: red}
.big_diff {color: blue}

tr:nth-child(even) {background-color: #f2fffc}
tr:nth-child(odd) {background-color: #f2f2f2}


td:nth-child(1) {width: 60px}
td:nth-child(2) {
    width: 180px;
    text-align: left;
    border-left: 0.1em solid black;
}
td:nth-child(3) {border-left: 0.1em solid black}
td:nth-child(6) {border-left: 0.1em solid black}
td:nth-child(9) {border-left: 0.1em solid black}

th:nth-child(2) {border-left: 0.1em solid black}
th:nth-child(3) {border-left: 0.1em solid black}
th:nth-child(6) {border-left: 0.1em solid black}
th:nth-child(9) {border-left: 0.1em solid black}

td:nth-child(n+3) {width: 85px}

table {margin: auto}

p {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 1101px;
    margin: auto;
}